body{
    background: url("assets/field_background.jpg");
}
h1{
    background-color: rgb(101, 108, 201);
}
li{
    display: inline-block;
    text-align: center;
}
button{
    background: transparent;
    outline: none;
}
.volunteer {
    width:10vw;
    height:10vh;
    transform: rotate(90deg);
    right: 300px;
    position: relative;
}
.adopt img{
    height: 20em;
    width: auto;
}
.adopt img:hover{
    content: url("assets/no_smile.jpg");
    height: 20em;
    width: auto;
}
.foster img{
    height: 20em;
    width: auto;
}
.foster img:hover{
    content: url("assets/ho_smile.jpg");
    height: 20em;
    width: auto;
}
.donate img{
    height: 20em;
    width: auto;
}
.donate img:hover{
    content: url("assets/cr_smile.jpg");
    height: 20em;
    width: auto;
}
.volunteer img{
    height: 20em;
    width: auto;
}
.volunteer img:hover{
    height: 20em;
    width: auto;
    content: url("assets/lu_smile.jpg");
}
.right_col{
    background: rgb(101, 108, 201);
    width: 200px;
    height: 110%;
    float: right;
    position: absolute;
    top: 100px;
    right: 50px;
    padding: 15px;
}
#tongue{
    height: 5em;
    width: auto;
    position: absolute;
    right: 90px;
}
p{
    color: rgb(244, 242, 247);
}
.img_wrapper{
    display: inline;
}
#ho_couch{
    position: absolute;
    left: 500px;
    bottom: 90px;
}
#no_kitchen{
    position: absolute;
    left: 75px;
    bottom: 90px;
}
#cr_sweater{
    position: absolute;
   left: 500px;
    top: 550px;
}
#lu_sit{
   position: absolute;
   left: 470px;
   bottom: 300px;
   transform: rotate(-90deg);
   
}
img{
    border: 2px solid black;
}
ul li{
    font-size: 30px;
    padding: 25px;
}
a{
    color: white;
}
/* #menu_footer li{
    float: right;
    font-size: 15px;
    top: 500pxz;
    position: fixed;
} */
.img_wrapper img{
    margin: 30px;
}
.no_text{
    position: absolute;
    bottom: 160px;
    left: 140px;
    color: rgb(180, 16, 16);
    font-size: 48px;
    font-weight: bold;
}
.ho_text{
    position: absolute;
    bottom: 160px;
    left: 550px;
    color: rgb(180, 16, 16);
    font-size: 48px;
    font-weight: bold;
}
.cr_text{
    position: absolute;
    bottom: -220px;
    left: 550px;
    color: rgb(180, 16, 16);
    font-size: 48px;
    font-weight: bold;
}
.lu_text{
    position: absolute;
    bottom: -220px;
    left: 140px;
    color: rgb(180, 16, 16);
    font-size: 30px;
    font-weight: bolder;
}